@model MVCPractical1.Models.HolidayData

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div> 
        <h3>It is @Model.DaysTo days until @Model.HolidayName</h3>
        <img src="@Model.PathToImage" />

    </div>
</body>
</html>
